color1 = #FFA500
color2 = #fdd700

body
    background-color #f4f4f4
    font-size 14px
    font-family 'Roboto', sans-serif
*
    margin 0
    padding 0

a
.btn
    &:active
    &:focus
        box-shadow none
        outline none

.mtop16
    margin-top 16px

.mtop32
    margin-top 32px

.form-control
    &:hover
    &:focus
        box-shadow none

nav
    background-color #fff
    border-bottom 4px solid color1
    .navbar-brand
        img
            width 140px
    .navbar-toggler
        color: color1
        &:active
        &:focus
            box-shadow: none
            outline: none
    .navbar-nav
        li.nav-item
            a.nav-link
                border 1px solid #fff
                border-radius 4px
                color #000
                font-size .9em
                font-weight bold
                margin-right 4px
                padding 5px 16px !important
                &:hover
                    color color1
            a.btn
                border 1px solid color1
                color #000
                &:hover
                    background-color color1
                    color: #fff
            ul.dropdown-menu
                // border-radius: 0 4px 4px 0
                // border-bottom 4px solid color1
                border-radius: 0 0 4px 4px
                background-color #fff
                border: 0
                top: 200% !important
                li
                    border-bottom: 1px solid #fff
                    a
                        color #000
                        display: block
                        float: none
                        width 100%
                        &:last-child
                            border-bottom: 0
                        &:hover
                            background-color #f7f7f7
        li.link-acc
            overflow hidden
            a
                display: inline-block
                float: left
                margin-right 0 !important
                &:first-child
                    border-radius 4px 0 0 4px
                    border-right: 1px solid #fff
                &:last-child
                    border-radius 0px 4px 4px 0px
                img
                    position relative
                    top -1px
                    margin-right 6px
                    width 20px
        li.link-user
            overflow: initial
            a
                border 0 !important
                img
                    border-radius: 50%
                &:hover
                    background-color transparent !important
                    color #000 !important
.wrapper
    .panel
        background-color #fff
        border-radius 6px
        border-bottom 2px solid #e85722
        width 100%
        .header
            border-bottom 1px solid #e8e8e8
            h2.title
                display inline-block
                color #19213d
                font-size 1.1em
                margin-bottom 0
                padding 12px 16px
            ul
                display inline-block
                float right
                margin-right 12px
                li
                    display inline-block
                    position relative
                    a
                        color #333
                        display inline-block
                        padding 10px
                        &:hover
                            background-color #f6f6f6
                            color #222
                            text-decoration none
                        i
                            color orange
                    ul
                        background-color #fff
                        border 1px solid #f0f0f0
                        display none
                        float none
                        position absolute
                        right -16px
                        width 200px
                        li
                            display: inline-block
                            border-bottom 1px solid #f0f0f0
                            width 100%
                            &:last-child
                                border-bottom: 0
                            a
                                display: block
                                width 100%
                    &:hover
                        ul
                            display block
        .inside
            padding 16px
            .nav
                .nav-link
                    border 1px solid #e85722
                    margin-right 8px
                    &:hover
                        background-color #e85722
                        color #fff
            .form_search
                display none
                margin-bottom 16px
                .btn
                    width 100%
            .big_count
                display block
                font-size: 2em
                text-align center
                width 100%
            .edit_avatar
                a
                    display block
                    margin 0 auto
                    position relative
                    width 140px
                    .overlay
                        display none
                        justify-content center
                        align-items center
                        background-color rgba(0, 0, 0, .55)
                        border-radius 50%
                        color: #fff
                        font-size 2em
                        height 140px
                        position absolute
                        width 100%
                        img
                            width 60px
                    &:hover
                        .overlay
                            display flex
                img
                    border-radius 50%
                    display block
                    width 100%
                .form-control
                    display none

// inicio para categorias
.home_action_bar
    background-color #fff
    border-radius 4px
    margin-top 24px
    padding 16px
    .categories
        position relative
        a
            background-color #111111
            border-radius 4px
            color #fff
            display block
            padding 12px
            text-transform uppercase
            text-decoration none
            width 100%
            &:hover
                background-color color1
        &:active
        &:focus
            a
                background-color colo1
        &:hover
            ul
                display block
        ul
            display none
            list-style none
            margin 0
            padding 0
            position absolute
            width 100%
            li
                a
                    background-color #f8f8f8
                    border-radius 0px
                    color #111111
                    img
                        position relative
                        margin-top -5px
                        margin-right 12px
                        width 20px
                    &:hover
                        color #fff
    .input-group
        position relative
        i
            position absolute
            font-size 1.4em
            left 12px
            top 14px
            z-index 10
        .form-control
            border-radius 4px 0 0 4px
            padding 10px 16px
            padding-left 46px
            z-index 2
            &:focus
                border 1px solid color1
                &::placeholder
                    color color1
        &:focus-within
            i
                color color1
            .btn
                background-color color1
                color #fff
        .btn
            background-color #111111
            color #fff
            &:hover
                background-color color1

// clase para el mdslider
.mdslider
    display flex
    flex-wrap: wrap
    margin-top 24px
    min-height 380px
    overflow: hidden
    position relative
    width 100%
    .md-slider-item
        align-items: center
        border-right: 1px solid #fff
        border-radius: 4px
        display none
        background-color #fff
        color #fff
        font-size: 4em
        justify-content: center
        position: absolute
        min-height 380px
        transition: .3s all ease-in-out
        width 100% !important
    ul.navigation
        display block
        width 100%
        margin 0
        padding 0
        position absolute
        overflow hidden
        top calc(50% - 18px)
        z-index 9
        li
            display inline-flex 
            float left
            a
                align-items center
                background-color rgba(0,0,0,.5)
                border-radius 50%
                display flex
                justify-content center
                font-size 1.4em
                height 36px
                width 36px
                text-decoration none
                color #fff
            &:first-child
                margin-left 32px
                a
                    i
                        position relative
                        margin-left -2px
                        margin-top 2px
            &:last-child
                float right
                margin-right 32px
                a
                    i
                        position relative
                        margin-left 2px
                        margin-top 2px
        

@media only screen and (max-width: 728px)
    nav
        .navbar-nav
            display: block !important
            margin-top 16px
            overflow: hidden
            li.nav-item
                display block
                float: left
                margin-right: 0
                margin-bottom 12px
                width 50%
                a.nav-link
                    text-align: center
                    i
                        font-size: 3em
                &:last-child
                    float: inline-end
                    width 100%
            li.link-acc
                a
                    font-size: 1.2em
                    width 50% !important
                    i
                        font-size: 1em !important
            li.link-user
                border 1px solid #f2f2f2 !important
                border-radius: 6px
                padding: 8px
                a
                    display: block
                    font-size: 1.2em 
                    width 100% !important
                    img
                        width 36px
                ul.dropdown-menu
                    top: 0px !important
                    hr.dropdown-divider
                        display: none
                ul.shadow
                    box-shadow: none !important